@media (max-width: 768px) {
  nav {
    align-items: flex-start;
  }
  nav .get-in-touch {
    display: none;
  }
  nav .hamburger-menu {
    display: block;
  }

  nav .head-links {
    flex-direction: column;
    display: none;
  }

  .companies-logos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
  .companies-logos img {
    width: 100px;
  }
  .example-sites{
    display:block;
  }
  .example-sites div{
    width:100%;
  }
  .third-div{
    display:block;
  }
  .third-div div{
    width:100%;
    margin:0 20px;
    
  }
  .third-div div * {
    width: calc(100% - 40px);
}

}
